# Virtual environment
.venv/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# SQLite / Local Databases
*.db
*.sqlite3

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE & Editor settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
tasks.db
